[submodule "modules/testing/third-party/googletest"]
	path = modules/testing/third-party/googletest
	url = https://github.com/google/googletest.git
[submodule "modules/ui/third-party/imgui"]
	path = modules/ui/third-party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "modules/support/third-party/SDL2"]
	path = modules/support/third-party/SDL2
	url = https://github.com/spurious/SDL-mirror.git
[submodule "modules/graphics/third-party/glfw"]
	path = modules/graphics/third-party/glfw
	url = https://github.com/glfw/glfw.git
