[submodule "modules/testing/third-party/googletest"]
	path = modules/testing/third-party/googletest
	url = https://github.com/google/googletest.git
[submodule "modules/graphics/third-party/glfw"]
	path = modules/graphics/third-party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "modules/editor/third-party/imgui"]
	path = modules/editor/third-party/imgui
	url = https://github.com/ocornut/imgui.git
